.httr-oauth

*.pper

.Rproj.user/A0023C8E/saved_source_markers

.Rproj.user/A0023C8E/sdb/prop/750EC49C

.Rproj.user/A0023C8E/sdb/prop/99766C54

.Rproj.user/A0023C8E/sdb/prop/7AEB2DC1

.Rproj.user/A0023C8E/sdb/prop/8EB15F91

.Rproj.user/A0023C8E/sdb/prop/INDEX

.Rproj.user/A0023C8E/sdb/s-27773C26/A5E3396F

.Rproj.user/A0023C8E/sdb/s-27773C26/F09799E7

.Rproj.user/A0023C8E/sdb/s-27773C26/lock_file
